:root {
    background-color: #f4f4f4;
    border-color: #ccc;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.app-container {
    display: grid;
    height: 100dvh;
    width: 100vw;

    grid-template-columns: 1fr 280px;
    
    grid-template-rows: 1fr auto;
    
    grid-template-areas: "play sidebar" "footer  footer";
}

@media (max-width: 768px) {
    .app-container {
        grid-template-columns: 1fr;
        
        grid-template-rows: 1fr auto auto;
        
        grid-template-areas: "play" "sidebar" "footer";
    }
}